<h1>Character Finder</h1>
<main>
    <p>This is a web application of CS-546!</p>
    <p>It is used to search characters with Mavel API!</p>

    <form action="/search" method="POST">
        <label for="search">Search: </label>
        <input type="text" name="searchTerm" placeholder="Search Term" id="search">
        <input type="submit" value="Submit" id="btn">
    </form>
</main>