<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Maze API</title>
</head>

<body>
    <header>
        <h1>TV Maze API</h1>
    </header>
    <div id="error" class="error" hidden></div>
    <form id="searchForm" action="">
        <label for="search_term">
            Search Term
            <input type="text" id="search_term">
        </label>
        <button type="submit">Search</button>
    </form>


    <ul id="showList" hidden></ul>


    <div id="show" hidden></div>


    <a id="homeLink" href="/" hidden> Back to All Shows </a>

    <footer>
        <p>My name is WEILI LIU</p>
        <p>My CWID is 10471020</p>
        <P>This is cs546 lab 11</P>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/script.js"></script>
</body>

</html>