<main>
    <h1>Sign up</h1>
    {{#if errorMessage}}
    <div class="errorMessage">
        <p>{{status}}<br>{{errorMessage}}</p>
    </div>
    {{/if}}

    <form action="/signup" method="post" id="signup-form">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Passowrd" />
        </div>
        <div> <button type="submit">Sign up</button></div>


    </form>

    <a href="/">Already have an account? Click here to log-in</a>


</main>