<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PalindromeChecker</title>
    <link rel='stylesheet' href='../public/css/style.css' />
</head>

<body>

    <header>
        <h1>Palindrome Checker</h1>
    </header>

    <main class="container">

        <div id="error" class="error" hidden></div>

        <form method="POST" id="myForm">
            <input name="phrase" type="text" id="phrase">
            <button type="submit">Submit</button>
        </form>

        <ol id="attempts"></ol>

    </main>

    <footer>I am WEILI LIU.<br> My CWID is 10471020. <br>I am taking cs546.</footer>

    <script src="../public/js/script.js"></script>
</body>


</html>